.mainScreen {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: auto;
    z-index: 2;
}

.mainSection{
    position: relative;
    height: auto;
    width: 100%;
    pointer-events: none;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    margin-top: 5vh;
    pointer-events: none;
}

.mainSection div:nth-child(1){
    position: relative;
    width: 100%;
    height: auto;
    top: 15vh;
}
.mainSection div:nth-child(1) div{
    position: relative;
    height: 100%;
    width: 50vw;
    left: 14vw;
}

.mainSection div:nth-child(2){
    width: 100%;
    height: auto;
    position: relative;
    pointer-events: none;
    color: snow;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    top: 27vh;
}

.mainSection div:nth-child(2) div:nth-child(1){
    height: 100%;
    width: 60vw;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
}
.mainSection div:nth-child(2) div:nth-child(1) div{
    position: relative;
    height: 100%;
    width: 35vw;
    left: 10vw;
    border: #0f0f0f solid 0.08vh;
    background: rgba(15, 15, 15, 0.7);
    box-shadow: 0px 0px 20px 8px rgba(0,0,0,0.36);
    -webkit-box-shadow: 0px 0px 20px 8px rgba(0,0,0,0.36);
    -moz-box-shadow: 0px 0px 20px 8px rgba(0,0,0,0.36);
    padding: 4vh;
}
.mainSection div:nth-child(2) div:nth-child(1) div h1{
    font-size: 3vh;
    letter-spacing: 0.04vw;
    background: #6FFFFF;
    background: linear-gradient(to left, #6FFFFF 0%, #FF2EFF 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.mainSection div:nth-child(2) div:nth-child(1) div p{
    margin-top: 5vh;
    font-size: 2.5vh;
    letter-spacing: 0.04vw;
    color: #DFDFD6;
    text-align: justify;
}
.mainSection div:nth-child(2) div:nth-child(2){
    height: 100%;
    width: 60vw;
}
